<div class="progress-bar-box ana-steps-progressbar">
    <div class="progress">
        <div class="progress-bar step-1 bg-active" role="progressbar" style="width: 33.33%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
            <div class="pb-box"><span class="pb-title" style="font-weight: 500;">{{'Your_Plan' | translate}}</span><span class="pb-icon"><span class="pbi"></span></span>
            </div>
        </div>
        <div class="progress-bar step-2" role="progressbar" style="width: 33.33%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
            <div class="pb-box"><span class="pb-title">{{'Your_Details' | translate}}</span><span class="pb-icon"><span
                        class="pbi"></span></span>
            </div>
        </div>
        <div class="progress-bar step-3" role="progressbar" style="width: 33.33%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <div class="pb-box"><span class="pb-title">{{'Payment' | translate}}</span><span class="pb-icon"><span
                        class="pbi"></span></span>
            </div>
        </div>
    </div>
</div>
